@font-face {
    font-family: 'Minecraft'; 
    src: url('fonts/Minecraft.ttf');
    font-weight: normal; /* 粗细 */
    font-style: normal; /* 样式 */    
}
@font-face {
    font-family: 'MinecraftTen'; 
    src: url('fonts/MinecraftTen.ttf');
    font-weight: normal; /* 粗细 */
    font-style: normal; /* 样式 */    
}

body, 
body * {
    transition: background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
				}

body {
				background-image: linear-gradient(to bottom right, #F5CAF5, #83E7FF);
				background-attachment: fixed;           
				background-size: cover;            
				background-repeat: no-repeat;           
				min-height: 100vh;                         
				margin: 0;        
				}
body.dark {
				background-image: linear-gradient(to bottom right, #3F3442, #1D3D48);
				background-attachment: fixed;           
				background-size: cover;            
				background-repeat: no-repeat;           
				min-height: 100vh;                         
				margin: 0;      
   }

button {
				background-color: rgba(0,0,0,0.3);
				min-height: 20px;
				border-radius: 5px;
				box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
				border: 1px;
				min-width: 60px;
				min-height: 25px;
}

hr {
				border: none;
				background-color: #000;
				height: 1px;
}
body.dark hr {
				background-color: #FFF;
}

h1 {
			 margin-left: 10px;
 			font-family: MinecraftTen;
}
h3 {
				line-height: 0.5;
}
body.dark h1,
body.dark h3,
body.dark a,
body.dark button {
				color: #FFF;
}

p,
a {
				font-size: 12px;
}

a {
				color: #000;
}

body.dark {
				color: #c6c6c6
}

/* 板块 */
.box {
				background-color: rgba(0,0,0,0.3);
				min-height: 20px;
				border-radius: 5px;
				box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
				margin: 10px;
				padding: 10px;
}
body.dark .box,
body.dark button {
				background-color: rgba(255,255,255,0.1);
				box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

