/* 字体 */
@font-face {
    font-family: 'Minecraft'; 
    src: url('fonts/Minecraft.ttf');
    font-weight: normal; /* 粗细 */
    font-style: normal; /* 样式 */    
}
@font-face {
    font-family: 'MinecraftTen'; 
    src: url('fonts/MinecraftTen.ttf');
    font-weight: normal; /* 粗细 */
    font-style: normal; /* 样式 */    
}


/* 页面 */
body {
				background-color:#141414;
				
}

h1,
h2 {
				color: white;
				font-family: MinecraftTen;
}

h3,
h4,
h5,
h6 {
				color: white;
				font-family: Minecraft;
}

h1 {
				border-bottom: 1px solid #6B6B6B;
}

p {
				font-family: Minecraft;
				color:white;
}

a {
				text-decoration: none;
}
.title1 {
    padding-top: 6px;
    padding-left: 6px;
				border-bottom: 1px solid #6B6B6B;
}
			 
table {
				text-align: center;
				width: 100%;
				vertical-align: middle;
}
/* 内容框 */
.box1 {
				background-color: #1E1E1E;
				border-radius: 5px;
				Width: 100%;
				margin-bottom: 10px;
}

.box2 {
				background-color: #2C2C2C;
				border-radius: 5px;
				Width: 100%;			
				color: grey;
				font-family: Minecraft;
				font-size: 10px;
				text-align: center;
				padding-top: 10px;
				padding-bottom: 10px;
				margin-bottom: 10px;

}

/* 按钮 */
         .btn1 {
            background-image:linear-gradient(to right, #2C2C2C 0%, #3A3A3A  51%, #2C2C2C  100%)        
          }
         .btn1 {
            margin: 10px;
            padding: 6px 16px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.3s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 2px #000;
            border-radius: 6px;
            display: block;
            border: none;
          }

          .btn1:hover {
            background-position: right center; /* change the direction of the change here */
            color: #000;
            text-decoration: none;
          }
         